.logo {
    & img {
        max-height: 90px;

        @include mobile {
            max-height: 60px;
        }
    }

    &__text {
        font-size: 13px;
        max-width: 245px;
    }
}

.pagination {
    margin-top: 30px;

    &__list {
        @include flex-center;
        gap: 5px;

        & .page-numbers {
            @include flex-center;
            width: 30px;
            height: 30px;
            border: 1px solid var(--color-gray-light);
            border-radius: 3px;
            font-weight: 500;
            transition-duration: var(--transition-duration);

            @include hover {
                color: var(--color-green);
                border-color: var(--color-green)
            }

            &.disabled,
            &.dots {
                pointer-events: none;
                cursor: not-allowed;
                opacity: 0.6;
            }

            &.prev {
                & svg {
                    rotate: 180deg;
                }
            }

            &.current {
                color: var(--color-white);
                background: var(--color-green);
                border-color: var(--color-green);
            }

        }
    }
}