@font-face {
    font-family: "Cera Pro";
    src: url("../fonts/CeraPro-Thin.woff"),
        url("../fonts/CeraPro-Thin.woff2");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
   
}

@font-face {
    font-family: "Cera Pro";
    src: url("../fonts/CeraPro-ThinItalic.woff"),
        url("../fonts/CeraPro-ThinItalic.woff2");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
   
}

@font-face {
    font-family: "Cera Pro";
    src: url("../fonts/CeraPro-Light.woff"),
        url("../fonts/CeraPro-Light.woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
   
}

@font-face {
    font-family: "Cera Pro";
    src: url("../fonts/CeraPro-LightItalic.woff"),
        url("../fonts/CeraPro-LightItalic.woff2");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
   
}

@font-face {
    font-family: "Cera Pro";
    src: url("../fonts/CeraPro-Regular.woff"),
        url("../fonts/CeraPro-Regular.woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
   
}

@font-face {
    font-family: "Cera Pro";
    src: url("../fonts/CeraPro-RegularItalic.woff"),
        url("../fonts/CeraPro-RegularItalic.woff");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
   
}

@font-face {
    font-family: "Cera Pro";
    src: url("../fonts/CeraPro-Medium.woff"),
        url("../fonts/CeraPro-Medium.woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
   
}

@font-face {
    font-family: "Cera Pro";
    src: url("../fonts/CeraPro-MediumItalic.woff.woff"),
        url("../fonts/CeraPro-MediumItalic.woff2");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
   
}

@font-face {
    font-family: "Cera Pro";
    src: url("../fonts/CeraPro-Bold.woff"),
        url("../fonts/CeraPro-Bold.woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
   
}

@font-face {
    font-family: "Cera Pro";
    src: url("../fonts/CeraPro-BoldItalic.woff"),
        url("../fonts/CeraPro-BoldItalic.woff2");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
   
}


@font-face {
    font-family: "Cera Pro";
    src: url("../fonts/CeraPro-Black.woff"),
        url("../fonts/CeraPro-Black.woff2");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
   
}

@font-face {
    font-family: "Cera Pro";
    src: url("../fonts/CeraPro-BlackItalic.woff"),
        url("../fonts/CeraPro-BlackItalic.woff2");
    font-weight: 900;
    font-style: italic;
    font-display: swap;
   
}