@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
  */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
  */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
  */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
  */
:where(ul[class]) {
  list-style: none;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
  */
p {
  --paragraphMarginBottom: 16px;
  margin-block: 0;
}
p:last-of-type {
  margin: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
  */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями
  */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
  */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
  Пригодится в большинстве ситуаций
  (когда, например, нужно будет "прижать" футер к низу сайта)
  */
  height: 100%;
  /**
  Плавный скролл
  */
  scroll-behavior: smooth;
}

body {
  /**
  Пригодится в большинстве ситуаций
  (когда, например, нужно будет "прижать" футер к низу сайта)
  */
  min-height: 100%;
  /**
  Унифицированный интерлиньяж
  */
  line-height: 1.5;
}

/**
  Приводим к единому цвету svg-элементы
  */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
  */
svg * {
  -webkit-transition-property: fill, stroke;
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
  */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-Thin.woff"), url("../fonts/CeraPro-Thin.woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  font-optical-sizing: auto;
}
@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-ThinItalic.woff"), url("../fonts/CeraPro-ThinItalic.woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  font-optical-sizing: auto;
}
@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-Light.woff"), url("../fonts/CeraPro-Light.woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  font-optical-sizing: auto;
}
@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-LightItalic.woff"), url("../fonts/CeraPro-LightItalic.woff2");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
  font-optical-sizing: auto;
}
@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-Regular.woff"), url("../fonts/CeraPro-Regular.woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  font-optical-sizing: auto;
}
@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-RegularItalic.woff"), url("../fonts/CeraPro-RegularItalic.woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  font-optical-sizing: auto;
}
@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-Medium.woff"), url("../fonts/CeraPro-Medium.woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  font-optical-sizing: auto;
}
@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-MediumItalic.woff.woff"), url("../fonts/CeraPro-MediumItalic.woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
  font-optical-sizing: auto;
}
@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-Bold.woff"), url("../fonts/CeraPro-Bold.woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  font-optical-sizing: auto;
}
@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-BoldItalic.woff"), url("../fonts/CeraPro-BoldItalic.woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  font-optical-sizing: auto;
}
@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-Black.woff"), url("../fonts/CeraPro-Black.woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  font-optical-sizing: auto;
}
@font-face {
  font-family: "Cera Pro";
  src: url("../fonts/CeraPro-BlackItalic.woff"), url("../fonts/CeraPro-BlackItalic.woff2");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
  font-optical-sizing: auto;
}
:root {
  /*colors*/
  --color-black: #030A16;
  --color-white: #ffffff;
  --color-gray: #B2B2B2;
  --color-gray-dark: #7F7F7F;
  --color-green: #007F65;
  --color-red: #E60000;
  --color-white-alt: #F9F9F9;
  --color-blue: #3A8DFF;
  --color-purple: #A23DFF;
  --color-orange: #FF8C42;
  --color-gray-light: #E5E3DF;
  --color-transparent: transparent;
  --color-shadow: rgba(22, 28, 45, 0.05);
  /*colors*/
  /*border*/
  --border: 1px solid var(--color-gray);
  --border-radius: 10px;
  --border-radius-small: 5px;
  --border-radius-large: 20px;
  /*border*/
  /*body*/
  --font-family-base: "Cera Pro", serif;
  --container-width: 1280px;
  --container-padding-x: 20px;
  --section-padding-y: 60px;
  /*body*/
  /*button*/
  --input-height: 40px;
  --button-height: 50px;
  --icon-button-height: 30px;
  --transition-duration: 0.3s;
  /*button*/
}

.container {
  width: 100%;
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .visible-mobile {
    display: none !important;
  }
}

.site {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.center {
  text-align: center;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px;
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

.page__title {
  font-size: clamp(22px, 4.296875vw, 55px);
  font-weight: 700;
}

.text {
  font-size: 20px;
}

.green {
  color: var(--color-green);
}

.medium {
  font-weight: 500;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--color-black);
  background: var(--color-white);
  font-family: var(--font-family-base);
  font-size: 15px;
  font-weight: 400;
  line-height: 1.256;
}
body.lock {
  overflow: hidden;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

a,
button,
input,
textarea,
svg * {
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
}

a {
  color: inherit;
}
a, a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-size: clamp(30px, 3.125vw, 40px);
  font-weight: 700;
}

h2 {
  font-size: clamp(20px, 3.125vw, 40px);
  font-weight: 700;
}

h3 {
  font-size: clamp(20px, 2.34375vw, 30px);
  font-weight: 500;
}

h4 {
  font-size: clamp(20px, 1.953125vw, 25px);
  font-weight: 500;
}

h5 {
  font-size: clamp(14px, 1.09375vw, 14px);
}

@-webkit-keyframes backAndForth {
  0% {
    translate: 0 0;
  }
  50% {
    translate: 10px 0;
  }
  100% {
    translate: 0 0;
  }
}

@keyframes backAndForth {
  0% {
    translate: 0 0;
  }
  50% {
    translate: 10px 0;
  }
  100% {
    translate: 0 0;
  }
}
@-webkit-keyframes rorateElements {
  0% {
    rotate: 0;
  }
  25% {
    rotate: 15deg;
  }
  50% {
    rotate: 0;
  }
  75% {
    rotate: -15deg;
  }
  100% {
    rotate: 0;
  }
}
@keyframes rorateElements {
  0% {
    rotate: 0;
  }
  25% {
    rotate: 15deg;
  }
  50% {
    rotate: 0;
  }
  75% {
    rotate: -15deg;
  }
  100% {
    rotate: 0;
  }
}
.button {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  padding: 15px 20px;
  font-weight: 500;
  height: 50px;
  color: var(--color-white);
  background: var(--color-green);
  border: 2px solid var(--color-green);
  border-radius: var(--border-radius-small);
}
@media (hover: hover) {
  .button:hover {
    color: var(--color-green);
    background: var(--color-white);
  }
}
@media (hover: none) {
  .button:active {
    color: var(--color-green);
    background: var(--color-white);
  }
}
.button--green {
  color: var(--color-green);
  background: var(--color-white);
}
@media (hover: hover) {
  .button--green:hover {
    color: var(--color-white);
    background: var(--color-green);
  }
}
@media (hover: none) {
  .button--green:active {
    color: var(--color-white);
    background: var(--color-green);
  }
}
.button--black {
  color: var(--color-black);
  background: var(--color-white);
  border-color: var(--color-black);
}
@media (hover: hover) {
  .button--black:hover {
    color: var(--color-white);
    background: var(--color-black);
  }
}
@media (hover: none) {
  .button--black:active {
    color: var(--color-white);
    background: var(--color-black);
  }
}
.button--edit {
  gap: 6px;
  height: 40px;
  padding: 10px;
  font-weight: 400;
  background: var(--color-white);
  color: var(--color-gray-dark);
  border: 1px solid var(--color-gray-dark);
}
@media (hover: hover) {
  .button--edit:hover {
    border-color: var(--color-green);
  }
}
@media (hover: none) {
  .button--edit:active {
    border-color: var(--color-green);
  }
}
.button--edit svg {
  width: 20px;
  height: 20px;
}

.icon {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--color-green);
}
@media (hover: hover) {
  .icon:hover {
    color: var(--color-black);
  }
}
@media (hover: none) {
  .icon:active {
    color: var(--color-black);
  }
}

.burger {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 30px;
  aspect-ratio: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 2;
}
.burger::before, .burger::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background: black;
  border-radius: 3px;
  position: absolute;
  left: 50%;
  translate: -50% 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.burger::before {
  top: 3px;
}
.burger::after {
  bottom: 3px;
}
.burger span {
  font-size: 0;
  width: 100%;
  height: 3px;
  background: black;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.burger.burger--active span {
  opacity: 0;
}
.burger.burger--active::before, .burger.burger--active::after {
  width: 90%;
  top: 50%;
  bottom: auto;
  translate: -50% -50%;
}
.burger.burger--active::before {
  rotate: 45deg;
}
.burger.burger--active::after {
  rotate: -45deg;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

label {
  font-weight: 500;
  text-wrap: nowrap;
}

.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}
.form-group span {
  font-size: 12px;
  color: var(--color-red);
}

input,
textarea {
  outline: none;
  width: 100%;
  height: var(--input-height);
  padding: 0 15px;
  color: var(--color-black);
  border: var(--border);
  border-radius: var(--border-radius-small);
}
input.error,
textarea.error {
  border-color: var(--color-red);
  background: rgba(230, 0, 0, 0.1019607843);
}
input.verified,
textarea.verified {
  border-color: var(--color-green);
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: var(--color-gray);
}
input::-moz-placeholder, textarea::-moz-placeholder {
  color: var(--color-gray);
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: var(--color-gray);
}
input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  color: var(--color-gray);
}
input::placeholder,
textarea::placeholder {
  color: var(--color-gray);
}
input:focus-visible,
textarea:focus-visible {
  border-color: var(--color-green);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=password] {
  letter-spacing: 4px;
}

textarea {
  padding: 13px 15px;
  min-height: 120px;
  resize: none;
}

/* custom */
.custom-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  cursor: pointer;
  color: var(--color-black);
  background: var(--color-white);
  /* Скрыть стандартный radio button */
}
.custom-input input[type=radio], .custom-input input[type=checkbox] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.custom-input input[type=radio]:checked ~ .radiomark, .custom-input input[type=checkbox]:checked ~ .radiomark {
  border-color: var(--color-blue);
}
.custom-input input[type=radio]:checked ~ .radiomark::after, .custom-input input[type=checkbox]:checked ~ .radiomark::after {
  opacity: 1;
}
.custom-input input[type=radio]:checked + .checkmark, .custom-input input[type=checkbox]:checked + .checkmark {
  border-color: var(--color-blue);
  background: var(--color-blue);
}
.custom-input input[type=radio]:checked + .checkmark::after, .custom-input input[type=checkbox]:checked + .checkmark::after {
  opacity: 1;
}
.custom-input input[type=radio]:checked + .switchmark, .custom-input input[type=checkbox]:checked + .switchmark {
  border-color: var(--color-blue);
}
.custom-input input[type=radio]:checked + .switchmark::after, .custom-input input[type=checkbox]:checked + .switchmark::after {
  background: var(--color-blue);
  -webkit-transform: translateX(calc(100% + 4px));
          transform: translateX(calc(100% + 4px));
}
.custom-input .radiomark {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  background: var(--transparent);
  border: 2px solid var(--color-black);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.custom-input .radiomark::after {
  content: "";
  position: absolute;
  display: block;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  width: 80%;
  height: 80%;
  opacity: 0;
  background: var(--color-blue);
  border-radius: 50%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.custom-input .checkmark {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 6px;
  position: relative;
  cursor: pointer;
  background: var(--color-transparent);
  border: 2px solid var(--color-black);
}
.custom-input .checkmark::after {
  content: "";
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: url(../images/icons/check.svg) no-repeat center;
}
.custom-input .switchmark {
  position: relative;
  width: 48px;
  height: 24px;
  border-radius: 56px;
  border: 1px solid #a4a5a9;
  -webkit-transition: border-color 0.3s ease;
  transition: border-color 0.3s ease;
}
.custom-input .switchmark::after {
  content: "";
  position: absolute;
  left: 2px;
  top: 2px;
  display: block;
  min-width: calc(50% - 4px);
  height: calc(100% - 4px);
  border-radius: 50%;
  background: #a4a5a9;
  opacity: 1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* custom */
/* select */
.custom-select {
  position: relative;
  width: 100%;
}
.custom-select select {
  display: none;
}
.custom-select .select-selected {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-width: 150px;
  height: var(--input-height);
  padding-inline: 15px 40px;
  border: var(--border);
  border-radius: var(--border-radius-small);
  cursor: pointer;
}
.custom-select .select-selected::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 16px;
  translate: 0 -50%;
  width: 24px;
  height: 24px;
  background: url(../images/icons/chevron.svg) no-repeat center/cover;
  pointer-events: none;
  -webkit-transition: rotate 0.3s ease;
  transition: rotate 0.3s ease;
}
.custom-select .select-selected.select-arrow-active {
  border-color: var(--color-green);
  border-bottom-color: transparent;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.custom-select .select-selected.select-arrow-active::after {
  rotate: 180deg;
}
.custom-select .select-items {
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 2;
  max-height: 200px;
  overflow: auto;
  background-color: #fff;
  border: var(--border);
  border-color: var(--color-green);
  border-top: none;
  border-radius: 0 0 var(--border-radius-small) var(--border-radius-small);
}
.custom-select .select-items > li {
  padding: 8px 12px;
  cursor: pointer;
}
.custom-select .select-items > li.same-as-selected {
  color: #fff;
  background-color: var(--color-green);
}
@media (hover: hover) {
  .custom-select .select-items > li:hover {
    color: #fff;
    background-color: var(--color-green);
  }
}
@media (hover: none) {
  .custom-select .select-items > li:active {
    color: #fff;
    background-color: var(--color-green);
  }
}
.custom-select .select-hide {
  display: none;
}

/* select */
.header {
  position: relative;
  padding: 15px 0;
  border-bottom: var(--border);
  background: var(--color-white);
}
.header.fixed {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;
}
.header.fixed .logo img {
  height: 60px;
}
@media (max-width: 767px) {
  .header .actions__button {
    font-size: 0;
    gap: 0;
    height: 40px;
    width: 50px;
    padding: 0;
  }
}

.registration {
  position: relative;
}
.registration__method {
  position: absolute;
  right: 0;
  top: calc(100% + 10px);
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  width: 100%;
  height: 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media (max-width: 560px) {
  .registration__method {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
}
.registration__method.active {
  height: auto;
  visibility: visible;
  opacity: 1;
}

.logo img {
  max-height: 90px;
}
@media (max-width: 767px) {
  .logo img {
    max-height: 60px;
  }
}
.logo__text {
  font-size: 13px;
  max-width: 245px;
}

@media (max-width: 767px) {
  .navigation {
    padding: 40px 24px;
    position: absolute;
    top: -1000%;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100vh;
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background: var(--color-white);
  }
  .navigation.navigation--active {
    top: 100%;
    opacity: 1;
  }
}
.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
}
.navigation__list li a {
  position: relative;
  display: block;
  font-weight: 500;
}
.navigation__list li a::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  translate: -50% 0;
  width: 0;
  height: 2px;
  background: var(--color-black);
  -webkit-transition-duration: var(--transition-duration);
          transition-duration: var(--transition-duration);
}
@media (hover: hover) {
  .navigation__list li a:hover {
    color: var(--color-black);
  }
  .navigation__list li a:hover::after {
    width: 100%;
  }
}
@media (hover: none) {
  .navigation__list li a:active {
    color: var(--color-black);
  }
  .navigation__list li a:active::after {
    width: 100%;
  }
}

.vacancies {
  margin-bottom: 60px;
}
@media (max-width: 767px) {
  .vacancies {
    margin-bottom: 30px;
  }
}
.vacancies.popular {
  margin-bottom: clamp(1.5rem, -0.359rem + 8.26vw, 6.25rem);
}
.vacancies__list li {
  position: relative;
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 30px;
  min-height: 200px;
  padding: 30px 36px;
  border: var(--border);
  border-radius: var(--border-radius-small);
}
@media (max-width: 767px) {
  .vacancies__list li {
    padding: 20px;
    min-height: 150px;
  }
}
.vacancies__list li .column, .vacancies__list li .row {
  gap: 10px;
  width: 100%;
  max-width: 70%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
@media (max-width: 767px) {
  .vacancies__list li .column, .vacancies__list li .row {
    max-width: none;
  }
}
.vacancies__list li .date {
  position: absolute;
  top: 30px;
  right: 36px;
}
@media (max-width: 767px) {
  .vacancies__list li .date {
    position: static;
  }
}
.vacancies__list li p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  color: var(--color-gray-dark);
}
.vacancies__list li p svg {
  width: 20px;
  height: 20px;
}
@media (max-width: 560px) {
  .vacancies__list li .button {
    width: 100%;
  }
}
.vacancies__list--popular {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
@media (max-width: 767px) {
  .vacancies__list--popular {
    margin-top: 20px;
    grid-template-columns: 1fr;
  }
}
.vacancies__list--popular li {
  margin: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.vacancies__list--popular li .column, .vacancies__list--popular li .row {
  max-width: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.vacancies__list--popular li p {
  color: var(--color-black);
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
@media (max-width: 560px) {
  .filter {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.filter .select-selected {
  min-width: 270px;
}

.banner {
  padding-block: clamp(1.5rem, -0.359rem + 8.26vw, 6.25rem);
}
.banner .column {
  margin-top: 30px;
  padding: 0 20px;
  width: 100%;
  min-height: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
}
@media (max-width: 767px) {
  .banner .column {
    min-height: 400px;
  }
}
@media (max-width: 560px) {
  .banner .column {
    min-height: 300px;
  }
}
.banner .column::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  background: rgba(0, 66, 53, 0.8);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}
.banner .search-input {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  padding: 15px 30px;
  background: var(--color-white);
  border-radius: var(--border-radius-small);
  overflow: hidden;
}
@media (max-width: 767px) {
  .banner .search-input {
    padding: 0 10px;
    gap: 10px;
  }
  .banner .search-input svg {
    width: 30px;
  }
}
.banner .search-input input {
  padding: 0;
  font-size: clamp(14px, 1.40625vw, 18px);
  border: none;
}
.banner .search-input input::-webkit-input-placeholder {
  font-style: italic;
  padding: 0 2px;
}
.banner .search-input input::-moz-placeholder {
  font-style: italic;
  padding: 0 2px;
}
.banner .search-input input:-ms-input-placeholder {
  font-style: italic;
  padding: 0 2px;
}
.banner .search-input input::-ms-input-placeholder {
  font-style: italic;
  padding: 0 2px;
}
.banner .search-input input::placeholder {
  font-style: italic;
  padding: 0 2px;
}
.banner a {
  margin: 0 auto;
  font-weight: 300;
  color: var(--color-white);
  text-decoration-line: underline;
  text-underline-position: UNDER;
}
@media (hover: hover) {
  .banner a:hover {
    color: var(--color-gray);
  }
}
@media (hover: none) {
  .banner a:active {
    color: var(--color-gray);
  }
}

.authorization {
  margin-bottom: clamp(1.5rem, -0.359rem + 8.26vw, 6.25rem);
}
.authorization .row {
  margin-top: 40px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  gap: 40px;
}
@media (max-width: 1023px) {
  .authorization .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 767px) {
  .authorization .row {
    margin-top: 20px;
    gap: 20px;
  }
}
.authorization .column {
  width: 100%;
  max-width: 50%;
  gap: 40px;
}
@media (max-width: 1023px) {
  .authorization .column {
    max-width: none;
    gap: 20px;
  }
}
.authorization img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: var(--border-radius-small);
}
.authorization__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  border: 2px solid var(--color-green);
  border-radius: var(--border-radius-small);
}
@media (max-width: 560px) {
  .authorization__tabs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.authorization__tabs li {
  width: 50%;
  position: relative;
  font-size: clamp(16px, 1.5625vw, 20px);
  font-weight: 500;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  color: var(--color-green);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media (max-width: 560px) {
  .authorization__tabs li {
    width: 100%;
  }
}
@media (hover: hover) {
  .authorization__tabs li:hover {
    color: var(--color-black);
    background: var(--color-white-alt);
  }
  .authorization__tabs li:hover::after {
    width: 100%;
  }
}
@media (hover: none) {
  .authorization__tabs li:active {
    color: var(--color-black);
    background: var(--color-white-alt);
  }
  .authorization__tabs li:active::after {
    width: 100%;
  }
}
.authorization__tabs li.active {
  color: var(--color-white);
  background: var(--color-green);
}
.authorization__tabs li svg {
  width: 35px;
  height: 35px;
}
.authorization__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.authorization__block {
  width: 100%;
  max-width: 390px;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: -3;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media (max-width: 1023px) {
  .authorization__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
}
@media (max-width: 767px) {
  .authorization__block {
    gap: 40px;
  }
}
.authorization__block.active {
  opacity: 1;
  visibility: visible;
  position: static;
  z-index: 1;
}
.authorization form {
  gap: 20px;
}
.authorization form input, .authorization form .button {
  height: 50px;
}
.authorization form .actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}
.authorization form .actions a {
  color: var(--color-gray-dark);
  text-decoration-line: underline;
  text-underline-position: from-font;
}
@media (hover: hover) {
  .authorization form .actions a:hover {
    color: var(--color-green);
  }
}
@media (hover: none) {
  .authorization form .actions a:active {
    color: var(--color-green);
  }
}

.modal {
  padding: 20px;
  display: none;
  position: fixed;
  inset: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto;
}
.modal .modal-content {
  margin: auto;
  position: relative;
  padding: 50px 30px;
  background: var(--color-white);
  border-radius: var(--border-radius);
  width: 100%;
  max-width: 450px;
}
@media (max-width: 560px) {
  .modal .modal-content {
    padding-inline: 20px;
  }
}
.modal #closeModal {
  position: absolute;
  top: -8px;
  right: -8px;
  font-size: 0;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: var(--color-green);
}
@media (max-width: 560px) {
  .modal #closeModal {
    top: 8px;
    right: 8px;
  }
}
.modal #closeModal::before, .modal #closeModal::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 15px;
  height: 2px;
  background: var(--color-white);
  border-radius: 2px;
}
.modal #closeModal::before {
  rotate: 45deg;
}
.modal #closeModal::after {
  rotate: -45deg;
}

.search {
  padding: 60px 0;
}
@media (max-width: 767px) {
  .search {
    padding: 30px 0;
  }
}
.search .row {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
@media (max-width: 1023px) {
  .search .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 48%;
  }
}
@media (max-width: 560px) {
  .search .row {
    width: 100%;
  }
}
.search form {
  margin-top: 20px;
  gap: 30px;
}
@media (max-width: 560px) {
  .search form {
    gap: 15px;
  }
}
.search__input {
  position: relative;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  overflow: hidden;
}
.search__input input {
  padding-inline: 70px;
  height: 50px;
  font-size: clamp(14px, 1.40625vw, 18px);
}
@media (max-width: 560px) {
  .search__input input {
    height: var(--input-height);
    padding: 0 40px;
  }
}
.search__input input::-webkit-input-placeholder {
  font-style: italic;
  padding: 0 2px;
}
.search__input input::-moz-placeholder {
  font-style: italic;
  padding: 0 2px;
}
.search__input input:-ms-input-placeholder {
  font-style: italic;
  padding: 0 2px;
}
.search__input input::-ms-input-placeholder {
  font-style: italic;
  padding: 0 2px;
}
.search__input input::placeholder {
  font-style: italic;
  padding: 0 2px;
}
.search__input .icon {
  position: absolute;
  top: 50%;
  left: 20px;
  translate: 0 -50%;
}
@media (max-width: 560px) {
  .search__input .icon {
    left: 10px;
  }
}
.search__input svg {
  width: 30px;
  height: 30px;
}
@media (max-width: 560px) {
  .search__input svg {
    width: 20px;
    height: 20px;
  }
}
.search__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}
@media (max-width: 560px) {
  .search__filter {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.search__filter label {
  text-wrap: nowrap;
}
.search__filter .selary-group {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}
.search__filter .selary-group span {
  width: 20px;
  height: 1px;
  background: var(--color-gray);
  font-size: 0;
}
.search__filter .input-selary {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.search__filter .input-selary::after {
  content: "₸";
  position: absolute;
  top: 50%;
  right: 15px;
  translate: 0 -50%;
  background: var(--color-white);
}
.search__filter input {
  max-width: 155px;
}
@media (max-width: 1023px) {
  .search__filter input {
    max-width: none;
  }
}
.search__filter .custom-select {
  max-width: 320px;
}
@media (max-width: 1023px) {
  .search__filter .custom-select {
    max-width: none;
  }
}
@media (max-width: 560px) {
  .search__filter .button {
    width: 100%;
  }
}
.search__filter .button svg {
  width: 20px;
  height: 20px;
}

.company {
  padding: 60px 0;
}
@media (max-width: 767px) {
  .company {
    padding: 30px 0;
  }
}
.company.recommended {
  padding: 0;
  margin-bottom: clamp(1.5rem, -0.359rem + 8.26vw, 6.25rem);
}
.company__list {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
@media (max-width: 1023px) {
  .company__list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 767px) {
  .company__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 560px) {
  .company__list {
    margin-top: 20px;
    grid-template-columns: 1fr;
  }
}
.company__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 200px;
  padding: 30px 36px;
  border: var(--border);
  border-radius: var(--border-radius-small);
}
.company__list li img {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}
.company-card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  padding: 30px;
  border: var(--border);
  border-radius: var(--border-radius-small);
}
@media (max-width: 767px) {
  .company-card {
    gap: 20px;
    padding: 20px;
  }
}
.company__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}
@media (max-width: 767px) {
  .company__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 10px;
  }
}
.company__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  height: 100px;
  padding: 10px;
  border-radius: 50%;
  border: 1px solid var(--color-green);
}
@media (max-width: 767px) {
  .company__logo {
    width: 70px;
    height: 70px;
  }
}
.company__name {
  max-width: 70%;
}
@media (max-width: 1023px) {
  .company__name {
    max-width: 59%;
  }
}
@media (max-width: 767px) {
  .company__name {
    max-width: none;
    text-align: center;
  }
}
.company .button--edit {
  position: absolute;
  top: 30px;
  right: 30px;
}
@media (max-width: 767px) {
  .company .button--edit {
    top: 20px;
    right: 20px;
  }
}
.company .contact-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px 30px;
}
@media (max-width: 1023px) {
  .company .contact-info {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 560px) {
  .company .contact-info {
    grid-template-columns: 1fr;
  }
}

.footer {
  padding: 40px 0;
  border-top: var(--border);
}
@media (max-width: 560px) {
  .footer {
    padding: 20px 0;
  }
}
.footer__logo img {
  max-height: 60px;
}
@media (max-width: 560px) {
  .footer .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.copy {
  font-size: 11px;
  color: var(--color-gray-dark);
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.social__list li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--color-green);
}
@media (hover: hover) {
  .social__list li a:hover {
    color: var(--color-black);
  }
}
@media (hover: none) {
  .social__list li a:active {
    color: var(--color-black);
  }
}

.links__list {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 15px 15px;
  max-width: 530px;
}
@media (max-width: 560px) {
  .links__list {
    grid-template-columns: 1fr;
  }
}
.links__list li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
@media (hover: hover) {
  .links__list li a:hover {
    color: var(--color-green);
  }
}
@media (hover: none) {
  .links__list li a:active {
    color: var(--color-green);
  }
}
.links__list li a svg {
  min-width: 24px;
}/*# sourceMappingURL=style.css.map */